@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(90deg, rgba(85,76,233,1) 0%, rgba(43,42,5,1) 27%, rgba(0,212,255,1) 100%);
}
